.Money {
	padding: 5px 10px 7px;
	border-top: 1px solid #313452;
}

.Money:last-child {
	border-bottom: 1px solid #313452;
}

.Money:hover {
	background-color: #1E1E2F;
}

.Money p {
	margin: 0px;
}

.cost {
	color: #6FBC17;
	margin-top: 3px;
}

.note {
	margin-top: 3px;
	font-size: 13px;
	color: #5b6588;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header .info {
	flex: 2;
}

.header .buttons {
	flex: 1;
	/* display: flex;
	justify-content: space-evenly; */
	text-align: right;
}

.success {
	color: #6FBC17;
}

.danger {
	color: #FD4747;
}