.Button {
	background-color: #27293D;
	color: #959CB6;
	padding: 7px 15px;
	border: 1px solid #1638c1;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.Button:hover:enabled {
	background-color: #1E1E2F;
	color: #d3d9ee;
}

.Button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.danger {
	border: 1px solid #cb2431;
	background-color: #8f0a14;
}

.danger:hover:enabled {
	background-color: #cb2431;
	color: #d3d9ee;
}

.success {
	border: 1px solid #21983c;
	background-color: #0e8129;
	color: #d3d9ee;
}

.success:hover:enabled {
	background-color: #21983c;
	color: #ebeffc;
}